.navheading{
  font-size: 24px;
  font-weight:600;
  font-family: 'Otomanopee One', sans-serif;
  color: #8a040f;
  margin-left: 50px;
  text-decoration: none;
  transition:1s all;
}
.navheading:hover{
  font-size: 24px;
  font-weight:600;
  font-family: 'Otomanopee One', sans-serif;
  color:  #f1c40f ;
  margin-left: 50px;
  text-decoration: none;
}
.nav-item{
  font-size: 18px;
  color: #8a040f;
  margin-right: 50px;
}
.nav_link{
  color: #8a040f;
  text-decoration: none;
  transition:1s all;
}
.nav_link:hover{
  color: green;
  text-decoration: none;
  border-radius: 40px 40px 40px 40px;
  background:  #ecf0f1 ;
}


.card {
  margin: 10px 10px;
  background-color: white;
  border-radius: 13px;
  height: 110px;
  width: 110px;
  box-shadow: 3px 6px 18px rgb(228, 228, 228);
  border: rgb(238, 238, 238);
  text-align: center;
  justify-content: center;
  font-size: 26px;
  color: skyblue;
  
}

.blueSign {
  font-weight: 200;
}

.redSign {
  font-weight: 200;
}

/* 
Home */

.Home_main{
  width: 100%;
  margin: 50px auto;
  border:2px solid transparent;
  text-align: center;
  background-image: url("../img/AVRN\ GAMES.png");
  background-size: cover;
  height:95vh;
  margin-top: 0px;
  border: 20px solid blue;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
@keyframes example {
  0%   {border: 20px solid blue;}
  25%  {border: 20px solid  #16a085 ;}
  50% {border: 20px solid  #f1c40f ;}
  100% {border: 20px solid  #e84df2 ;}
  150% {border: 20px solid  #8a040f  ;}
  175% {border: 20px solid #5499c7    ;}
  200% {border: 20px solid  #d0d3d4  ;}
}


.Play_gane{
  color: antiquewhite;
  font-size: 24px;
  float: left;
  margin-left: 110px;
  margin-top: 440px;
  border-radius: 40px 40px 40px 40px;
  background:  #f39c12 ;
  padding:10px;
  transition: 1s all;
  text-decoration: none;
  color:  #212f3c ;
 
}
.Play_gane:hover{
  font-size: 24px;
  float: left;
  margin-left: 110px;
  margin-top: 440px;
  border-radius: 40px 40px 40px 40px;
  background:   #d4ac0d   ;
  padding:10px;
  color: black;
  text-decoration: none;
}

/* Login */

.login_main{
  width:100%;
  height:95vh;
  text-align: center;
  background-image: url("../img/Login.png");
  background-size: cover;
  text-align: center;
}
.login_child{
  width: 30%;
  margin: 0 auto;
  padding:100px;
  border: 2px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.login_head{
  color: #d4ac0d;
  font-size: 24px;
}
.plslogin{
  width:100%;
  margin: 50px auto;
  text-align: center;
  background-image: url("../img/comp.png");
  background-size: cover;
  height:95vh;
  margin-top:-10px
}
.plslogin h1{
  padding-top:220px
}
.dragon{
  width:170px;
  height:170px;
  border-radius:40px 40px 40px 40px;
  transition:1s all;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.dragon:hover{
  width:190px;
  height:190px;
  border-radius:44px 44px 44px 44px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.name_uyser{
  font-size:18px;
  color: #8a040f;
  margin-top:2px;
  font-family: 'Otomanopee One', sans-serif;
}


@media only screen and (max-width: 790px) {

  .navheading{
    font-size: 24px;
    font-weight:600;
    font-family: 'Otomanopee One', sans-serif;
    color: #8a040f;
    margin-left: 0;
  }
  .Home_main{
    width: 100%;
    margin: 50px auto;
    border:2px solid transparent;
    text-align: center;
   background-image: url("../img//mobile.png");
    background-size:center;
    background-repeat: no-repeat;
    height:95vh;
    margin-top:0;
    border: 4px solid white;
  }
  .plslogin{
    width:100%;
    margin: 50px auto;
    text-align: center;
    background-image: url("../img/comp.png");
    
    background-position: center;
    height:95vh;
    margin-top:-10px
  }
  .dragon{
    display:none;
  }

  .Play_gane{
    color: antiquewhite;
    font-size: 24px;
   margin: 50px 70px;
   padding:0 50px
   
  }
  
  .login_child{
    width: 85%;
    margin: 0 auto;
    padding:100px;
    border: 2px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
}